In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from matplotlib import pyplot as plt
import mpl_axes_aligner

import seaborn as sns
import zipfile
from cycler import cycler

pd.options.display.float_format = '{:.4f}'.format


# global plotting settings
plt.style.use(['ggplot'])

default_cycler = (plt.rcParams['axes.prop_cycle'][:4]  +
                  cycler(linestyle=['-', '--', ':', '-.']))

plt.rcParams.update({'axes.grid' : True, 
                     'axes.facecolor' : 'white', 
                     'axes.edgecolor' : '.15',
                     'axes.labelcolor' : 'black',
                     'yaxis.labellocation' : 'center',
                     'lines.marker' : '.',
                     'lines.linestyle' : 'None',
                     'grid.color' : '.8',
                     'axes.prop_cycle' : default_cycler,
                     'figure.figsize' : (10*1.8, 5.65*1.8),
                     'mathtext.default' : 'regular'
                    })

# plt.rc('axes', prop_cycle=default_cycler)

data_dir = f'/home/otto/data/atmos-flux-data/methane-gapfill/data_dir/'

def read_l3(filepath, datecol='DATE'):
    df = (pd.read_csv(filepath, header=0, low_memory=False)
      .replace(-9999, np.nan).replace(99999, np.nan)
      .assign(date = lambda x: pd.to_datetime(x[datecol]))
      .set_index('date', drop=False)
     )
    df.index = df.index.set_names(None)
    return df

filepath = '/home/otto/data/atmos-flux-data/processed/ATMOS_L3_2023-04-25.csv'
l3 = read_l3(filepath)

predictors = 'baseflux'
filepath = f'/home/otto/data/atmos-flux-data/methane-gapfill/data_dir/ATMOS_20230425_{predictors}/gapfilled/rf_predictors_laplace.csv'
rf = read_l3(filepath).add_suffix('_RF')

filepath = f'/home/otto/data/atmos-flux-data/methane-gapfill/data_dir/ATMOS_20230425_{predictors}/gapfilled/ann_predictors_laplace.csv'
ann = read_l3(filepath).add_suffix('_ANN')

l3 = pd.concat([l3, rf.loc[:,'FCH4_F_RF':], ann.loc[:,'FCH4_F_ANN':]], axis=1)
# l3.to_csv('./output/csv/ATMOS_L3_{datetime.now().strftime("%Y%m%d")}_ch4gapfilled.csv', index = False)

platt_constant = rf['FCH4_F_UNCERTAINTY_RF'] / rf.loc[:, [f'FCH4_F{i}_RF' for i in range(1,11)]].std(axis=1)
# (platt_constant)

In [2]:
# output L3 fluxes with ch4 gap filling

filepath = '/home/otto/data/atmos-flux-data/processed/ATMOS_L3_2023-04-25_fluxgapfill.csv'
l3 = read_l3(filepath)

predictors = 'baseflux'
filepath = f'/home/otto/data/atmos-flux-data/methane-gapfill/data_dir/ATMOS_20230425_{predictors}/gapfilled/rf_predictors_laplace.csv'
rf = read_l3(filepath).add_suffix('_RF')

filepath = f'/home/otto/data/atmos-flux-data/methane-gapfill/data_dir/ATMOS_20230425_{predictors}/gapfilled/ann_predictors_laplace.csv'
ann = read_l3(filepath).add_suffix('_ANN')

l3 = pd.concat([l3, rf.loc[:,'FCH4_F_RF':], ann.loc[:,'FCH4_F_ANN':]], axis=1)
# l3.to_csv(f'./output/csv/ATMOS_L3_{datetime.now().strftime("%Y-%m-%d")}_ch4gapfilled.csv', index = False)

In [3]:
# format to FLUXNET
def save_fluxnet(filepath):
    df = (pd.read_csv(filepath, header=0, low_memory=False)
          .replace(np.nan, -9999).replace(99999, -9999)
          .rename(columns = {'co2_mole_fraction': 'CO2', # umol mol-1
                             'co2_mixing_ratio': 'CO2_MIXING_RATIO', # umol mol-1
                             'ch4_mole_fraction': 'CH4', # umol mol-1 (convert to nmol below)
                             'ch4_mixing_ratio': 'CH4_MIXING_RATIO', # umol mol-1 (convert to nmol below)
                             'co2_flux': 'FC', # umol m-2 s-1
                             'ch4_flux': 'FCH4', # umol m-2 s-1 (convert to nmol below)
                             'h2o_mole_fraction': 'H2O', # mmol mol-1
                             'h2o_mixing_ratio': 'H2O_MIXING_RATIO', # mmol mol-1
                             'h2o_flux': 'FH2O', # mmol m-2 s-1
                             'co2_strg': 'SC', # umol s-1 m-2
                             'ch4_strg': 'SCH4', # umol s-1 m-2 (convert to nmol below)
                             'H_strg': 'SH', # W m-2
                             'LE_strg': 'SLE', # W m-2
                             'air_pressure': 'PA', # Pa (convert to kPa below)
                             'sonic_temperature': 'T_SONIC', # K
                             'air_temperature': 'TA', # K
                             'Precip': 'P', # mm
                             'RN': 'NETRAD', # W m-2 (is met tower giving W m-2?)
                             'L': 'MO_LENGTH', # m
                             'qc_Tau': 'TAU_SSITC_TEST', 
                             'un_Tau': 'TAU_UNCORR',
                             'Tau': 'TAU', # kg m-2 s-1
                             'u.': 'USTAR',
                             'wind_dir': 'WD',
                             'wind_speed': 'WS',
                             'max_wind_speed': 'WS_MAX',
                             'X.z.d..L': 'ZL',
                             'Reco': 'RECO',
#                              'Tsoil': 'TS', 
                             'x_peak': 'FETCH_MAX', # m
                             'x_90.': 'FETCH_90', # m
                             'x_70.': 'FETCH_70', # m
#                              'x_55.': 'FETCH_55', # m
#                              'x_40.': 'FETCH_40', # m
                             'qc_co2_flux': 'FC_SSITC_TEST',
                             'un_co2_flux': 'FC_UNCORR',
                             'qc_ch4_flux': 'FCH4_SSITC_TEST',
                             'un_ch4_flux': 'FCH4_UNCORR',
                             'qc_H': 'H_SSITC_TEST',
                             'un_H': 'H_UNCORR',
                             'qc_LE': 'LE_SSITC_TEST',
                             'un_LE': 'LE_UNCORR',
                             'qc_Tau': 'TAU_SSITC_TEST'
                            }, errors = 'raise')
          .assign(TIMESTAMP = lambda x: pd.to_datetime(x['DATE']).dt.strftime('%Y%m%d%H%M'),
                  TIMESTAMP_END = lambda x: x['TIMESTAMP'],
#                   H2O = lambda x: x['H2O'] / 1000, # umol mol-1 to mmol mol-1
                  CH4 = lambda x: x['CH4'] * 1000, # umol mol-1 to nmol mol-1
                  CH4_MIXING_RATIO = lambda x: x['CH4_MIXING_RATIO'] * 1000, # umol mol-1 to nmol mol-1
                  FCH4 = lambda x: x['FCH4'] * 1000, # umol m-2 s-1 to nmol m-2 s-1
                  SCH4 = lambda x: x['SCH4'] * 1000, # umol s-1 m-2 to nmol s-1 m-2
                  PA = lambda x: x['PA'] * 0.001, # Pa to kPa
                  VPD = lambda x: x['VPD'] * 0.01 # Pa to hPa
                 )
         )
    df.index = df.index.set_names(None)

    df.columns = df.columns.str.replace('Reco_', 'RECO_')
    df.columns = df.columns.str.replace('Tsoil', 'TS')

    cols_to_move = ['TIMESTAMP']
    df = df[ cols_to_move + [ col for col in df.columns if col not in cols_to_move ] ]
    
    df.to_csv(f'./output/csv/ATMOS_L3_{datetime.now().strftime("%Y-%m-%d")}_fluxnet.csv', index = False)
    
    
    return df

filepath = f'./output/csv/ATMOS_L3_2023-11-09_ch4gapfilled.csv'
fluxnet = save_fluxnet(filepath)
# df = pd.read_csv('./output/csv/ATMOS_L3_{datetime.now().strftime("%Y%m%d")}_fluxnet.csv')

In [9]:
l3['H']

2022-05-24 10:30:00    74.5771
2022-05-24 11:00:00    41.1935
2022-05-24 11:30:00        NaN
2022-05-24 12:00:00        NaN
2022-05-24 12:30:00   155.0460
                        ...
2023-04-06 09:30:00   173.7440
2023-04-06 10:00:00   196.4180
2023-04-06 10:30:00   228.6370
2023-04-06 11:00:00   255.3570
2023-04-06 11:30:00   348.6250
Name: H, Length: 15219, dtype: float64

In [17]:
fluxnet.loc[:, fluxnet.columns.str.contains('_F')]

,FCH4_F_RF,FCH4_F_UNCERTAINTY_RF,FCH4_F1_RF,FCH4_F2_RF,FCH4_F3_RF,FCH4_F4_RF,FCH4_F5_RF,FCH4_F6_RF,FCH4_F7_RF,FCH4_F8_RF,...,FCH4_F1_ANN,FCH4_F2_ANN,FCH4_F3_ANN,FCH4_F4_ANN,FCH4_F5_ANN,FCH4_F6_ANN,FCH4_F7_ANN,FCH4_F8_ANN,FCH4_F9_ANN,FCH4_F10_ANN
0,-0.0099,0.0000,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,...,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099,-0.0099
1,-0.0353,0.0000,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,...,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353,-0.0353
2,-0.0376,0.0997,0.0805,-0.0490,-0.0579,-0.0171,-0.0254,-0.0920,-0.1094,-0.1540,...,214.6933,128.8076,214.9082,-9.7916,214.7875,228.1501,-1579.9737,175.4213,131.4446,38.2616
3,-0.0398,0.0915,0.0677,-0.0170,-0.0900,-0.0142,0.0010,-0.0805,-0.1058,-0.1491,...,214.7119,128.8316,214.9268,-9.7779,214.8061,228.1643,-1580.1312,175.4318,131.4622,38.2622
4,-0.1073,0.0000,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,...,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073,-0.1073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15214,-0.0081,0.0000,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,...,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081,-0.0081
15215,0.0035,0.0000,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,...,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035,0.0035
15216,-0.0068,0.0000,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,...,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068,-0.0068
15217,0.0021,0.0000,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,...,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021,0.0021
15218,-0.0069,0.0000,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,...,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069,-0.0069

In [36]:
# format to FLUXNET
def save_fluxnet(filepath):
    df = (pd.read_csv(filepath, header=0, low_memory=False)
          .replace(np.nan, -9999).replace(99999, -9999)
          
          .rename(columns = {'L': 'MO_LENGTH', 
                             'co2_mole_fraction': 'CO2', # umol mol-1
                             'h2o_mole_fraction': 'H2O', # mmol mol-1
                             'ch4_mole_fraction': 'CH4', # umol mol-1 (convert to nmol below)
                             'co2_flux': 'FC', # umol m-2 s-1
                             'ch4_flux': 'FCH4', # umol m-2 s-1 (convert to nmol below)
                             'co2_strg': 'SC', # umol s-1 m-2
                             'ch4_strg': 'SCH4', # umol s-1 m-2 (convert to nmol below)
                             'x_peak': 'FETCH_MAX', # m
                             'x_90': 'FETCH_90', # m
                             'x_55': 'FETCH_55', # m
                             'x_40': 'FETCH_40', # m
                             'qc_LE': 'LE_SSITC_TEST'
                            }, errors = 'raise')
          .assign(TIMESTAMP = lambda x: pd.to_datetime(x['DATE']).dt.strftime('%Y%m%d%H%M%S'), 
#                   H2O = lambda x: x['H2O'] / 1000, # umol mol-1 to mmol mol-1
                  CH4 = lambda x: x['CH4'] * 1000 # umol mol-1 to nmol mol-1
                  FCH4 = lambda x: x['FCH4'] * 1000, # umol m-2 s-1 to nmol m-2 s-1
                  SCH4 = lambda x: x['SCH4'] * 1000 # umol s-1 m-2 to nmol s-1 m-2
                 )
         )
    df.index = df.index.set_names(None)
    df.columns = df.columns.str.replace('un_LE', 'LE_UNCORR')
    df.columns = df.columns.str.replace('qc_H', 'H_SSITC_TEST')
    df.columns = df.columns.str.replace('un_H', 'H_UNCORR')
    df.columns = df.columns.str.replace('qc_co2_flux', 'FC_SSITC_TEST')
    df.columns = df.columns.str.replace('un_co2_flux', 'FC_UNCORR')
    df.columns = df.columns.str.replace('co2_flux', 'FC')
    df.columns = df.columns.str.replace('qc_ch4_flux', 'FCH4_SSITC_TEST')
    df.columns = df.columns.str.replace('un_ch4_flux', 'FCH4_UNCORR')
#     df.columns = df.columns.str.replace('ch4_flux', 'FCH4')
    df.columns = df.columns.str.replace('qc_Tau', 'TAU_SSITC_TEST')
    df.columns = df.columns.str.replace('un_Tau', 'TAU_UNCORR')
    df.columns = df.columns.str.replace('Tau', 'TAU')
    df.columns = df.columns.str.replace('Reco', 'RECO')
    df.columns = df.columns.str.replace('Reco_', 'RECO_')
    df.columns = df.columns.str.replace('RN', 'NETRAD')
    df.columns = df.columns.str.replace('Precip', 'P')
    df.columns = df.columns.str.replace('sonic_temperature', 'T_SONIC')
    df.columns = df.columns.str.replace('max_wind_speed', 'WS_MAX')
    df.columns = df.columns.str.replace('wind_speed', 'WS')
    df.columns = df.columns.str.replace('Tsoil', 'TS')
    
#     cols_to_move = ['TIMESTAMP_END', 'CO2']
#     df = df[ cols_to_move + [ col for col in df.columns if col not in cols_to_move ] ]
    
    df.to_csv(f'./output/csv/ATMOS_L3_{datetime.now().strftime("%Y-%m-%d")}_fluxnet.csv', index = False)
    
    
    return df

filepath = f'./output/csv/ATMOS_L3_2023-11-09_ch4gapfilled.csv'
fluxnet = save_fluxnet(filepath)
# df = pd.read_csv('./output/csv/ATMOS_L3_{datetime.now().strftime("%Y%m%d")}_fluxnet.csv')

In [ ]:
fluxnet.loc[:, fluxnet.columns.str.contains('LE_')]

In [22]:
fluxnet['DATE'].dtype

dtype('O')

In [21]:
fluxnet.loc[:, fluxnet.columns.str.contains('DATE')]

                                    DATE
2022-05-24 10:30:00  2022-05-24 10:30:00
2022-05-24 11:00:00  2022-05-24 11:00:00
2022-05-24 11:30:00  2022-05-24 11:30:00
2022-05-24 12:00:00  2022-05-24 12:00:00
2022-05-24 12:30:00  2022-05-24 12:30:00
...                                  ...
2023-04-06 09:30:00  2023-04-06 09:30:00
2023-04-06 10:00:00  2023-04-06 10:00:00
2023-04-06 10:30:00  2023-04-06 10:30:00
2023-04-06 11:00:00  2023-04-06 11:00:00
2023-04-06 11:30:00  2023-04-06 11:30:00

[15219 rows x 1 columns]

In [56]:
fluxnet.loc[:, fluxnet.columns.str.contains('co2_flux')].iloc[np.where(fluxnet.qc_co2_flux == 2)[0]]

                      co2_flux  qc_co2_flux  un_co2_flux
2022-05-25 09:30:00 -9999.0000       2.0000      -0.1852
2022-05-25 12:00:00 -9999.0000       2.0000      -1.0082
2022-05-25 17:00:00 -9999.0000       2.0000      -6.6699
2022-05-25 18:30:00 -9999.0000       2.0000       0.7907
2022-05-26 00:30:00 -9999.0000       2.0000       3.6211
...                        ...          ...          ...
2023-04-04 18:30:00 -9999.0000       2.0000      -1.3374
2023-04-04 20:30:00 -9999.0000       2.0000      -0.9477
2023-04-05 06:30:00 -9999.0000       2.0000      -0.5323
2023-04-05 11:00:00 -9999.0000       2.0000       0.4704
2023-04-05 12:30:00 -9999.0000       2.0000      -2.2467

[1717 rows x 3 columns]

In [162]:
fluxnet.loc[:, fluxnet.columns.str.contains('un_')]

,un_TAU,un_H,un_LE,un_FC,un_h2o_flux,un_FCH4
2022-05-24 10:30:00,-0.1205,80.3292,116.3100,-17.9290,2.6226,-0.0362
2022-05-24 11:00:00,-0.1226,47.4885,114.9180,-14.3493,2.5913,-0.0492
2022-05-24 11:30:00,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000
2022-05-24 12:00:00,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999.0000
2022-05-24 12:30:00,-0.1891,164.1820,205.2780,-26.7710,4.6392,-0.1480
...,...,...,...,...,...,...
2023-04-06 09:30:00,-0.1597,171.6720,40.8406,-10.6312,0.9106,-0.0595
2023-04-06 10:00:00,-0.1594,193.4960,44.0458,-11.3171,0.9827,-0.0558
2023-04-06 10:30:00,-0.2652,225.3050,57.1297,-13.9822,1.2751,-0.0744
2023-04-06 11:00:00,-0.1906,251.7150,60.7415,-14.5996,1.3568,-0.0744
2023-04-06 11:30:00,-0.2110,343.5340,77.8378,-20.7820,1.7402,-0.1098

In [8]:
filepath = '/home/otto/data/atmos-flux-data/processedEP/20230305-rotate-all/eddypro_atmos_fluxnet_2023-03-05T224639_exp.csv'
df = pd.read_csv(filepath, header = 0, low_memory=False)
df.loc[:, df.columns.str.contains('FC')]
# df.loc[:, df.columns.str.contains('FC_')].iloc[np.where(df['FC_SSITC_TEST'] == 1)[0][0:20]]

,FC_NR,FCH4_NR,FC,FCH4,FC_RANDUNC_HF,FCH4_RANDUNC_HF,FC_VADV,FCH4_VADV,FC_UNCORR,FCH4_UNCORR,...,FC_CORRDIFF,FCH4_CORRDIFF,FC_NSR,FCH4_NSR,FC_SS,FCH4_SS,FC_SS_TEST,FCH4_SS_TEST,FC_SSITC_TEST,FCH4_SSITC_TEST
0,18000,17899,-15.0656,-9.8598,-9999,-9999,-0.0000,-0.0000,-17.9290,-36.2389,...,0.0131,0.0025,0.8873,0.8650,0,22,1,2,0,0
1,18000,17899,-12.7544,-35.2920,-9999,-9999,-0.0000,-0.0000,-14.3493,-49.2369,...,0.0197,0.0321,1.7972,0.4011,2,6,1,1,0,0
2,-9999,-9999,-9999.0000,-9999.0000,-9999,-9999,-9999.0000,-9999.0000,-9999.0000,-9999.0000,...,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999,-9999,-9999,-9999,-9999,-9999
3,-9999,-9999,-9999.0000,-9999.0000,-9999,-9999,-9999.0000,-9999.0000,-9999.0000,-9999.0000,...,-9999.0000,-9999.0000,-9999.0000,-9999.0000,-9999,-9999,-9999,-9999,-9999,-9999
4,18000,17899,-20.2106,-107.2850,-9999,-9999,-0.0000,-0.0000,-26.7710,-148.0130,...,0.0250,0.0132,0.6378,1.8258,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,18000,-9999,-25.7827,-9999.0000,-9999,-9999,0.0000,-9999.0000,-25.8972,-9999.0000,...,0.0064,-9999.0000,0.7332,-9999.0000,0,-9999,1,-9999,0,-9999
1823,18000,17867,-26.4048,-12.3788,-9999,-9999,0.0000,0.0000,-26.7089,-28.8645,...,0.0182,0.0180,1.9310,1.6252,1,1,1,1,0,0
1824,18000,-9999,-28.2668,-9999.0000,-9999,-9999,-0.0000,-9999.0000,-28.3185,-9999.0000,...,0.0116,-9999.0000,1.1811,-9999.0000,5,-9999,1,-9999,0,-9999
1825,18000,-9999,-23.3455,-9999.0000,-9999,-9999,-0.0000,-9999.0000,-23.1721,-9999.0000,...,0.0249,-9999.0000,0.8911,-9999.0000,3,-9999,1,-9999,1,-9999
1826,18000,17447,-28.2841,-10.0206,-9999,-9999,0.0000,0.0000,-27.5424,-23.1468,...,0.0122,0.0856,0.8226,1.1178,6,16,1,2,0,0

In [ ]:
filepath = '/home/otto/data/atmos-flux-data/processed/ATMOS_L3_2023-04-25_fluxgapfill.csv'
df = (pd.read_csv(filepath, header = 0, low_memory=False)
            .assign(date = lambda x: pd.to_datetime(x['DATE']))
      .set_index('date', drop=False)
     )
df.index = df.index.set_names(None)

df.loc[df.values == 99999, df.loc[:, (df == 99999).any()].columns]
# df.loc['2023-03-31 23:00:00':'2023-04-02']
# df.loc[:, 'T10'].loc[df.values == 99999]

## Annual metrics

In [2]:
cols = ['TA_EP','T60','Tsoil_mean','SWC_mean','Precip']

annualmet = l3[cols].agg(['mean', 'min', 'max'])
annualmet.loc['sum', 'Precip'] = l3.loc[:, 'Precip'].sum()
annualmet.loc['std', ['TA_EP', 'T60', 'Tsoil_mean', 'SWC_mean']] = l3.loc[:, ['TA_EP', 'T60', 'Tsoil_mean', 'SWC_mean']].std()
# mean and standard deviation of TA_EP, mean and ReddyProc unc of co2_flux, mean and gap-fill unc of FCH4

# annualmet.loc['uncertainty', :] = annualmet.std()
# annualmet.loc['uncertainty', ['NEE_f','co2_flux','FCH4_f','FCH4_F_RF']] = np.NaN

annualmet

        TA_EP      T60  Tsoil_mean  SWC_mean   Precip
mean  12.5219  12.0268     11.5006    0.3027   0.1156
min  -23.1185 -18.4000      1.6865    0.1573   0.0000
max   36.6963  34.8000     22.7450    0.4286  67.3000
sum       NaN      NaN         NaN       NaN 810.8000
std   11.7231  10.8633      7.2354    0.0819      NaN

In [3]:
cols = [f'FCH4_F{i}_RF' for i in range(1,11)]
model_sum = l3.loc[:, cols].sum(axis=0) * 1800 / 1000 / 1000 * 12.01
ch4_budget = [model_sum.mean(), model_sum.std() * 1.4210]
ch4_budget
# model_sum

[-0.3816044614926144, 3.0614157890823375]

In [4]:
ustars = l3.loc[:, 'ustar_thr'].unique()
ustars

array([0.14981061, 0.194696  ])

In [5]:
cols = ['ch4_flux', 'co2_flux', 'h2o_flux', 'NEE_f', 'FCH4_F_RF']
data_coverage = l3[cols].count()/l3.shape[0]
data_coverage

ch4_flux    0.3674
co2_flux    0.5446
h2o_flux    0.5681
NEE_f       1.0000
FCH4_F_RF   1.0000
dtype: float64

In [6]:
umoltogC = 1800 / 1000 / 1000 * 12.01 # [umol m-2 s-1] * (s 30min-1) / (umol mmol-1) / (mmol mol-1) * (gC molC-1)
umoltomgC = 1800 / 1000 * 12.01 # [umol m-2 s-1] * (s 30min-1) / (umol mmol-1) * (mgC mmolC-1)
cols = ['ch4_flux','FCH4_f', 'FCH4_F_ANN', 'FCH4_F_RF', 'co2_flux', 'NEE_f', 'GPP_f', 'Reco']
budget = l3[cols] * umoltogC
budget = budget.sum(axis=0)
budget['H_f'] = l3['H_f'].sum() / 1000
budget['LE_f'] = l3['LE_f'].sum() / 1000
# budget['NEE_%grow'] = l3.loc['2022-06':'2022-09-01', 'NEE_f'].sum()
budget['FCH4_uptake'] = l3.loc[l3['FCH4_F_RF']<0, 'FCH4_F_RF'].sum() * umoltogC
budget['FCH4_emission'] = l3.loc[l3['FCH4_F_RF']>0, 'FCH4_F_RF'].sum() * umoltogC
budget['FCH4_uptake%'] = budget['FCH4_uptake'] / (abs(budget['FCH4_uptake']) + abs(budget['FCH4_emission']))
budget['FCH4_emission%'] = budget['FCH4_emission'] / (abs(budget['FCH4_uptake']) + abs(budget['FCH4_emission']))
budget['FCH4_co2eq'] = budget['FCH4_F_RF'] / 12.01 * 16.04 * 45
budget['FCH4_co2eq_up'] = budget['FCH4_uptake'] / 12.01 * 16.04 * 45
budget['FCH4_co2eq_emit'] = budget['FCH4_emission'] / 12.01 * 16.04 * 45
budget['NEE_co2eq'] = budget['NEE_f'] / 12.01 * 44.01 # gC to molC, molC to gCO2
budget['rad_balance'] = (budget['FCH4_co2eq_up']) + (budget['FCH4_co2eq_emit']) + budget['NEE_co2eq']
# pd.concat([budget, pd.DataFrame({'rad_balance': budget['FCH4_F_RF'] * 45 + budget['NEE_f'], 
#                                  'ch4_to_0rad': budget['NEE_f'] / 45})])
budget['ch4_to_0rad'] = -(budget['NEE_co2eq'] / 45 / 16.04 * 12.01) # gCO2eq to gCH4, gCH4 to molC, molC to gC  
budget

ch4_flux            -0.3512
FCH4_f              -0.5024
FCH4_F_ANN        -550.6893
FCH4_F_RF           -0.3816
co2_flux          -356.7822
NEE_f              -18.5232
GPP_f             1804.8325
Reco              1786.3092
H_f                199.8094
LE_f               859.9817
FCH4_uptake         -1.8768
FCH4_emission        1.4952
FCH4_uptake%        -0.5566
FCH4_emission%       0.4434
FCH4_co2eq         -22.9344
FCH4_co2eq_up     -112.7970
FCH4_co2eq_emit     89.8626
NEE_co2eq          -67.8774
rad_balance        -90.8118
ch4_to_0rad          1.1294
dtype: float64

In [8]:
weekly = l3.groupby(l3.date.dt.to_period('W')).agg(TA_EP_mean = ('TA_EP', np.mean),
                                                  Tsoil_mean=('Tsoil_mean', np.mean), 
                                                  SWC_mean=('SWC_mean', np.mean), 
                                                  FCH4_F_RF_mean=('FCH4_F_RF', lambda x: np.mean(x * 1000)), 
                                                   NEE_f_mean=('NEE_f', np.mean), 
                                                   GPP_f_mean=('GPP_f', np.mean), 
                                                   Reco_mean=('GPP_f', np.mean),
                                                  FCH4_F_RF_sum=('FCH4_F_RF', lambda x: np.sum(x * 1800 / 1000 * 12.01)), # mgC m-2
                                                   NEE_f_sum=('NEE_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                   GPP_f_sum=('GPP_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2 
                                                   Reco_sum=('Reco', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                  H_f_sum=('H_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                  LE_f_sum=('LE_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                   Precip_sum=('Precip', np.sum)
                                                   ).reset_index().set_index('date')
# weekly.index = weekly.index.set_names(None)

monthly = l3.groupby(l3.date.dt.to_period('M')).agg(TA_EP_mean = ('TA_EP', np.mean),
                                                  Tsoil_mean=('Tsoil_mean', np.mean), 
                                                  SWC_mean=('SWC_mean', np.mean), 
                                                  FCH4_F_RF_mean=('FCH4_F_RF', lambda x: np.mean(x * 1000)), # nmol m-2 
                                                   NEE_f_mean=('NEE_f', np.mean), 
                                                   GPP_f_mean=('GPP_f', np.mean), 
                                                   Reco_mean=('GPP_f', np.mean),
                                                  FCH4_F_RF_sum=('FCH4_F_RF', lambda x: np.sum(x * 1800 / 1000 * 12.01)), # mgC m-2
                                                   NEE_f_sum=('NEE_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                   GPP_f_sum=('GPP_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2 
                                                   Reco_sum=('Reco', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                  H_f_sum=('H_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                  LE_f_sum=('LE_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                   Precip_sum=('Precip', np.sum)
                                                   ).reset_index().set_index('date')
# monthly.index = monthly.index.set_names(None)

# # cols = ['FC', 'NEE_f', 'Reco', 'GPP_f', 'FCH4', 'FCH4_f', 'H_f'] # Fluxnet variables
# cols = ['co2_flux', 'NEE_f', 'Reco', 'GPP_f', 'ch4_flux', 'FCH4_f', 'FCH4_F_RF', 'FCH4_F_ANN', 'LE', 'LE_f','H_f'] # Full output variables

# dailysum = l3.loc[:, cols].groupby(pd.Grouper(freq='1D')).sum() * 1800 / 1000
# dailysum.loc[:, 'LE_f'] = l3.loc[:, ['LE_f']].groupby(pd.Grouper(freq='1D')).sum()

# daily = l3.loc[:, cols].groupby(l3.index.floor('D')).mean()
# # daily[['FCH4', 'FCH4_f', 'FCH4_F_ANN']]
# # daily.loc[:,'FCH4']
# daily

daily = l3.groupby(l3.date.dt.to_period('D')).agg(TA_EP_mean = ('TA_EP', np.mean),
                                                  Tsoil_mean=('Tsoil_mean', np.mean), 
                                                  SWC_mean=('SWC_mean', np.mean), 
                                                  FCH4_F_RF_mean=('FCH4_F_RF', lambda x: np.mean(x * 1000)), # nmol m-2 
                                                   NEE_f_mean=('NEE_f', np.mean), 
                                                   GPP_f_mean=('GPP_f', np.mean), 
                                                   Reco_mean=('GPP_f', np.mean),
                                                  FCH4_F_RF_sum=('FCH4_F_RF', lambda x: np.sum(x * 1800 / 1000 * 12.01)), # mgC m-2
                                                   NEE_f_sum=('NEE_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                   GPP_f_sum=('GPP_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2 
                                                   Reco_sum=('Reco', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                  H_f_sum=('H_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                  LE_f_sum=('LE_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                   Precip_sum=('Precip', np.sum)
                                                 ).reset_index().set_index('date')

hourly = l3.groupby(l3.date.dt.to_period('H')).agg(TA_EP_mean = ('TA_EP', np.mean),
                                                  Tsoil_mean=('Tsoil_mean', np.mean), 
                                                  SWC_mean=('SWC_mean', np.mean), 
                                                  FCH4_F_RF_mean=('FCH4_F_RF', lambda x: np.mean(x * 1000)), # nmol m-2 
                                                   NEE_f_mean=('NEE_f', np.mean), 
                                                   GPP_f_mean=('GPP_f', np.mean), 
                                                   Reco_mean=('GPP_f', np.mean),
                                                  FCH4_F_RF_sum=('FCH4_F_RF', lambda x: np.sum(x * 1800 / 1000 * 12.01)), # mgC m-2
                                                   NEE_f_sum=('NEE_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                   GPP_f_sum=('GPP_f', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2 
                                                   Reco_sum=('Reco', lambda x: np.sum(x * 1800 / 1000 / 1000 * 12.01)), # gC m-2
                                                  H_f_sum=('H_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                  LE_f_sum=('LE_f', lambda x: np.sum(x / 1000)), # W m-2 to kW m-2
                                                   Precip_sum=('Precip', np.sum)
                                                 ).reset_index().set_index('date')

In [9]:
daily.loc['2022-11':'2023-02','LE_f_sum'].max()

2.1358680826686793

In [10]:
output = monthly.drop(columns=['GPP_f_mean', 'Reco_mean'])
# output.to_csv('./output/thesis/monthly_metrics.csv', index = True)